<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h2 class="container  alert mt-3 text-center shadow alert-info bg-body-tertiary ">Hello Dr. <span class="text-uppercase">{{name}}</span>
       <span class="float-end  btn" onclick="logout()">
        <svg  xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
        </svg>
       </span>
    </h2>

    <div class="box">
        <div class="up_box">
            <!--write code wellcome message and website info to doctor -->
            <h1>Welcome Dr. {{ name }}</h1>
            <p>We are here to help you manage your patients better.</p>
            <p>For more information, please visit our website: <a href="#">https://www.quickinfo.com</a></p>
            <p>Stay connected with us on social media: <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Instagram</a></p>
             
        </div>
        <div class="container">
            <!-- filter doctors -->
        </div>
        <div class="container-fluid border"  style="height: 80vh;border:1px solid black;padding: 5px;margin: 5px;overflow: scroll;">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Problem</th>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

                {% for usrs in apo %}
                {% if doc.email == usrs.demail %}
                  
                <tr>
                    <td>{{usrs.pname}}</td>
                    <td>{{usrs.gender}}</td>
                    <td>{{usrs.page}}</td>
                    <td>
                        <textarea  id="">{{usrs.problem}}</textarea>
                  </td>
                  <td>{{usrs.day}}</td>
                  <td>{{usrs.time}} </td>
                  <td>
                      
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Accept</button>
                      
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Patient Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <h4>Patient Name: {{usrs.pname}}</h4>
                                

                                <form>
                                    
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea class="form-control" id="message-text" value="message"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Send message</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
                      <div class="btn btn-secondary">Ignore</div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
    
    
    

      <script>
        function logout(){
            window.location.href = "/logout/"; 
        }
      </script>
</body>
</html>